Flask>=1.0.0
Flask_RESTful==0.3.6
beautifulsoup4
colorama
environment_kernels
feedparser
ipykernel
jupyter
jupyterlab
missingno
more-itertools==5.0.0
numpy
pandas-summary
pandas
pytest
pytest-cov
python-dateutil
pytz
pyyaml
quandl
requests
rise
scrapy
scikit-learn
scipy
six
sklearn
tinydb
