Flask==2.3.2
Flask_RESTful==0.3.6
colorama
environment_kernels
ipykernel
jupyter
jupyterlab
missingno
numpy
pandas-summary
pandas
pytest
pytest-cov
python-dateutil
pytz
pyyaml
redis
rise
scikit-learn
scipy
six
sklearn
tinydb
